.container {
    max-width: 756px;
    margin: 0 auto;
    padding: 0 1rem;
    
}



.newTask {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    gap: 1rem;
    margin-top: -2rem;
}

.newTask input[type=text] {
    background-color: var(--gray-500);
    color: var(--gray-300);

    border: 1px solid var(--gray-700);
    border-radius: 8px;

    padding: 1rem;

    font-size: 1rem;
}

.newTask button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    background-color: var(--blue-dark);
    color: var(--gray-100);

    border: 0;
    border-radius: 8px;

    padding: 1rem;

    font-size: 1rem;
    font-weight: bold;

    transition: 0.2s
}

.newTask button:hover {
    filter: brightness(0.9)
}



.taskList {
    margin-top: 5rem;
}

.taskList header div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.taskList header div:nth-of-type(1) p {
    color: var(--blue);

    font-size: 1rem;
    font-weight: bold;
}

.taskList header div:nth-of-type(1) span {
    color: var(--gray-200);
    background-color: var(--gray-400);

    border-radius: 8px;

    font-size: 0.75rem;
    font-weight: bold;

    padding: 0.25rem 0.5rem;
}

.taskList header div:nth-of-type(2) p {
    color: var(--purple);

    font-size: 1rem;
    font-weight: bold;
}

.taskList header div:nth-of-type(2) span {
    color: var(--gray-200);
    background-color: var(--gray-400);

    border-radius: 8px;

    font-size: 0.75rem;
    font-weight: bold;

    padding: 0.25rem 0.5rem;
}



.taskInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.tasks {
    margin-top: 1.5rem;
}



.noTask {
    padding: 4rem 1.5rem;

    border-top: 1px solid var(--gray-300);
    border-radius: 8px;

    text-align: center;
}

.noTask p {
    font-size: 1rem;
}

.noTask p:nth-of-type(1) {
    font-weight: bold;

    margin-top: 0.5rem;
}



.taskSingle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;

    margin-top: 1.5rem;
    padding: 1rem;

    background-color: var(--gray-500);

    border: 1px solid var(--gray-400);
    border-radius: 8px;

    color: var(--gray-100);
}

.taskSingle:last-child {
    margin-bottom: 1.5rem;
}

.taskSingle p {
    max-width: 100%;
    overflow: hidden;
    line-break: normal;
    font-size: 0.875rem;
}

.taskSingle button {
    background-color: transparent;
    border: 0;

    color: var(--gray-300);
}

.checked {
    text-decoration: line-through;
    color: var(--gray-300);
    line-height: 1.4;
}

